/* body{
    background-image: url(bk.png);
    background-size:cover;
} */
 body {
  background-image: 
    linear-gradient(to bottom, rgb(0, 0, 0), transparent),
    url("bk.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.cards{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap:70px;
}

.navbar{
    display:flex;
    justify-content:flex-end;
    margin-top: 40px;
    margin-right:50px;
}

nav{
    display: flex;
    gap:24px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size: 24px;
    font-family:'Raleway',sans-serif;
}
/*added text shadow and transition for glow hover*/
nav a:hover {
  text-shadow: 0 0 10px white, 0 0 20px white;
  transition: text-shadow 0.3s ease;
}
    
.card{
    display:block;
    justify-content: left;
    background-color:black;
    padding: 50px;
    border-radius:10px;
    width: 225px;
    height:300px;
    text-align: center;
}

.card h1{
    text-align: center;
    color:white;
    font-family:'Nunito',sans-serif;
    margin-top: -20px;

}

.card h2{
    color: green;
    font-size: 45px;
    font-family:'Raleway',sans-serif;
    margin-top: -5px;
}
#blue{
    color:blue;
}

#purple{
    color: purple;
}

.card h2 span{
    font-size:small;
    margin-top: -5px;
}

.card ul{
    color:white;
    font-size: medium;
    font-width: 100px;
    margin-top: -10px;
    
}

.card:hover{
    transform:scale(1.05);
    cursor: pointer;
    transition: 0.3 ease;
    box-shadow: black;
}

.heading h1{
    font-family:'Nunito', sans-serif;
    font-size: 50px;
    margin-bottom: -50px;
    color: white;
    text-align:center;
}

.heading h2{
    font-family:'Nunito',sans-serif;
    text-align:center;
    font-size:60px;
    color: white;
}

.heading{
    gap:10px;
    margin-top:0px;
}

#card2:hover{
    border: 2px solid blue;
}

#card1:hover{
    border: 2px solid green;
}

#card3:hover{
    border:2px solid purple;
}

.btn{
    display:flex;
    padding:40px;
    margin-left: 130px;

}

.start-btn{
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
    font-size: 30px;
    color: white;  
}
.start-btn:hover{
    text-shadow: 0 0 10px white, 0 0 20px white;
  transition: text-shadow 0.3s ease;
}